PORT=3000
APP_ENV=production
DB_HOST=localhost
DB_PORT=5432
DB_NAME=come_pouco_db
DB_USER=come_pouco_user
DB_PASSWORD=come_pouco_pass
DATABASE_URL=postgresql://come_pouco_user:come_pouco_pass@localhost:5432/come_pouco_db
JWT_SECRET=troque-por-uma-chave-forte-com-32-caracteres-ou-mais
JWT_EXPIRES_IN=8h
TRUSTED_DEVICE_DAYS=30
TWOFA_ENCRYPTION_KEY=troque-por-uma-chave-forte-com-32-caracteres-ou-mais
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,http://comepouco.palsincomehub.com,https://comepouco.palsincomehub.com
SHOPEE_MOCK=false
