node_modules/
**/node_modules/
.angular/
**/.angular/
.astro/
**/.astro/
.git/
dist/
**/dist/
coverage/
**/coverage/
playwright-report/
test-results/
**/playwright-report/
**/test-results/
package-lock.json
**/package-lock.json
IDEIA.md
come-pouco-frontend/src/environments/sentry.generated.ts
